version: '3'
services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
    command: bash -c "rm -f tmp/pids/server.pid && bundle exec rails s -p 3000 -b '0.0.0.0' -e production"
    volumes:
      - .:/rails_tutorial_docker
    tty: true
    stdin_open: true
    environment:
      RAILS_ENV: production

volumes:
  db-volume:
